<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-GB" }}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="{{ "/assets/images/favicon.ico?v=" | relative_url }}">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  {% seo %}
  <link rel="stylesheet" href="{{ "/assets/css/style-csaba.css?v=1" | append: site.github.build_revision | relative_url }}">
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
  <![endif]-->
  <script src="/assets/js/library.js"></script>
</head>

<body>

<!--
  TODO:
  1. Seperate menu into markdown
  2. Use transform rotate in calculate -> dinamically update progress bar
  3. Mobile optimise menu
  4. Final touches

-->

<input type="checkbox" id="side_bar_closer" />

<div class=side_bar_background>
</div>

<div id="side_bar">
  <label for="side_bar_closer"></label>

  <div class="logo_holder">
    <a href="{{ "/" | relative_url }}">
    <span class="header_logo_type__text">p15n checklist</span>
    <span class="px-3">by</span>
    <img alt="Made Tech" itemProp="logo" src="{{ "/assets/images/made-tech-logo-white.png" | relative_url }}" width="120px" />
    </a>
  </div>

  <div class="header_nav">
    <nav class="navbar-nav align-items-center">
      <ul>
        <li>
          <a>Project readiness checklist</a>
          <ol>
            <li>
              <a href="#1-general-requirements">General requirements</a>
            </li>
            <li>
              <a href="#2-testing">Testing</a>
            </li>
            <li>
              <a href="#3-environments">Environments</a>
            </li>
            <li>
              <a href="#4-database">Database</a>
            </li>
            <li>
              <a href="#5-pipeline">Pipeline</a>
            </li>
            <li>
              <a href="#6-application-logging">Application logging</a>
            </li>
            <li>
              <a href="#7-exception-tracking">Exception tracking</a>
            </li>
            <li>
              <a href="#8-infrastructure-monitoring--scaling">Infrastructure monitoring</a>
            </li>
            <li>
              <a href="#9-application-performance-management">Application performance management</a>
            </li>
            <li>
              <a href="#10-vulnerability-alerts">Vulnerability alerts</a>
            </li>
            <li>
              <a href="#11-dependency-upgrade-alerts">Dependency upgrade alerts</a>
            </li>
          </ol>
        </li>
        <li>
          <a>Platform specific</a>
        </li>
        <li>
          <a>Recommended services</a>
        </li>
      </ul>
    </nav>
  </div>
  <nav class="footer">
    <a href="https://www.madetech.com">Who are Made Tech?</a>
    <a href="https://www.madetech.com/blog">Blog</a>
    <a href="https://learn.madetech.com">Learn</a>
    <a href="https://www.madetech.com/careers">Careers</a>

    <div>
      <a class="footer__social_link" href="https://www.madetech.com/ext/linkedin">
        <i class="fa fa-linkedin" aria-hidden="true"></i>
      </a>

      <a class="footer__social_link" href="https://www.madetech.com/ext/twitter">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>

      <a class="footer__social_link" href="https://www.madetech.com/ext/github">
        <i class="fa fa-github" aria-hidden="true"></i>
      </a>
    </div>
  </nav>
</div>

<main>
  <div>
    <div>
      {{ content }}
    </div>
    <div class="sales-banner">
      <h3>How effective is your business at software delivery?</h3>
      <p>
        Answer these 20 questions and find out where the principal software delivery challenges lie within your organisation.
      </p>
      <a href="https://madetech.typeform.com/to/d2Emvz" class="cta-button">Get started now</a>
    </div>
  </div>
</main>

<div class="progress_bar">
  <div class="holder">
        <span>
          <em id="slice_2"></em>
        </span>
    <span>
          <em id="slice_1"></em>
        </span>
    <h5><span id="percentage_holder"></span><span>%</span></h5>
  </div>
</div>

<script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
        crossorigin="anonymous"></script>
<!-- <script src="{{ "/assets/js/madetech-frontend.js" | relative_url }}"></script> -->

{% if site.google_analytics %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', '{{ site.google_analytics }}', 'auto');
  ga('send', 'pageview');
</script>
{% endif %}
</body>
</html>
